<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productCart.css">
        <title>Mi carrito</title>

    </head>
    
<body>
    <!-- Cabecera de la pagina-->
    <%- include('../partials/header') %>

    <!-- Cuerpo de la pagina-->
    <main>
        <div class="carrito">
            <!--MI CARRITO DE COMPRAS-->
            <h2 class="titulo">LISTA DE COMPRAS</h2>
                <%let suma = 0%>
                <section class="carro" > 

                    <% for ( article of list) { %>

                        <article class="producto"> <a href="/products/detail/<%= article%>">
                            <img src="/img/<%=products[article].imgs[0]%>" alt="articulo">
                            <strong> <%=products[article].title%> </strong> </a>
                            <p> $<%=products[article].price%> MXN</p>
                            <% suma += products[article].price%>
                            <div class="cantidad">
                                <label for="canti">Cantidad De Productos: </label>
                                <input type="number" name="canti" id="can-pro" value="1">
                            </div>
                             <form action="" >
                                <input type="button" value="Eliminar" class="eliminar">
                            </form>
                        </article>


                    <%}%>
                    

                </section>
        </div>
        

        <div class="totalPagar">
        
                <h2>TOTAL A PAGAR</h2>
                <h2>$ <span id="enteros"><%= suma%></span> </h2>
            

            <input type="button" value="PAGAR">
            
        </div>


    </main>
    
    <!-- Pie de la pagina-->
    
    <%- include('../partials/footer') %>

</body>
</html>