<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Fuente Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Hoja de Estilos -->
    <title>.::MiTrébol::.</title>
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>

    <header class="trebol">
        <div class="logos">
            <% if(locals.user){ %>
                <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
                <%  }else { %>
                    <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
                <% } %>
            <h1 class="tienda">MiTrébol</h1>
        </div>

        <nav>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="/">Inicio</a></li>
            <% if(locals.user){ %>
                <li><a href="/products/cart">MiCarrito <i class="fas fa-shopping-cart"></i></a></li>
                <% } %>
            
            <% if(!locals.user){ %>
                <li><a href="/users/login">Ingresar <i class="fas fa-sign-in-alt"></i></a></li>
                <%  }else { %>
                    <div class="dropdown">
                        <button class=" btn-secondari dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="profile" src="/img/avatars/<%= user.imgs %>" alt="imagen de perfil"> <%= user.firstName %>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#"> Mi Cuenta</a></li>
                          <form class="dropdown-item" action="/close" method="POST">
                              <button type="submit">Cerrar sesión</button>
                          </form>
                        </ul>
                      </div>
                <% } %>
            
            
        </nav>
    </header>

    <section class="hero" id="inicio">
        <div class="background-image" style="background-image: url(/img/trebol.jpeg);"></div>
        <% if(!locals.user){ %>
            <h1>Bienvenido a MiTrébol </h1>
            <%  }else { %>
            <h1>Bienvenido a MiTrébol <%= user.firstName%></h1>
            <% } %>
        
        <h3>Disfruta de la naturaleza</h3>
    </section>


    <section class="categorias" id="categorias">
        <h3 class="title">Nuestras categorías</h3>
        <p>Conoce las categorías de nuestro sitio, inspiradas en la naturaleza de nuestro país.</p>
        <hr>
        <!-- Parrilla de productos -->
        <div class="categorias-container">
            <div class="producto-cat">
                <a href="#"> <img class="img-categorias" src="/img/producto1.png" alt="">
                    <h4 class="categoria">Jabones naturales</h4>
                </a>

            </div>

            <div class="producto-cat">
                <a href="#"><img class="img-categorias" src="/img/producto_2.png" alt="">
                    <h4 class="categoria">Belleza al natural</h4>
                </a>
            </div>

            <div class="producto-cat">
                <a href="#"><img class="img-categorias" src="/img/producto_4.png" alt="">
                    <h4 class="categoria">Semillas orgánicas</h4>
                </a>

            </div>
            <div class="producto-cat">
                <a href="#"><img class="img-categorias" src="/img/catrina.png" alt="">
                    <h4 class="categoria">Artesanías</h4>
                </a>

            </div>

            <div class="producto-cat">
                <a href="/products"><img class="img-categorias" src="/img/trebol.png" alt="">
                    <h4 class="categoria"> ==>> Todos Los Productos <<==</h4>
                </a>

            </div>
        </div>
    </section>

    <!-- Nuestro Equipo -->

    <section class="equipos" id="equipo">
        <h3 class="title">Nuestro equipo</h3>
        <p>Trabajamos de la mano con productores, agricultores y artesanos mexicanos. Uno de nuestros principales objetivos es reconectar con nuestra tierra, su diversidad y su naturaleza.</p>
        <hr>

        <div>
            <img class="equipo" src="/img/artesana.png" alt="">
        </div>
    </section>

    <!-- Lo + popular  -->
    <section class="populares" id="populares">
        <h3 class="title">Los más populares</h3>
        <p>Tus productos favoritos, siempre disponibles.</p>
        <hr>
        <!-- third example -->
        <div class="categorias-container">
            

        <% for ( product of products ) { %>
            <% if ( product.ratings >= 300 ){ %>

            <div class="producto-cat">
                <a href="/products/detail/<%= product.id%>">
                    <img class="categoria-producto" src="/img/<%= product.imgs[0]%>" alt="">
                    <h4 class="categoria"> <%= product.title %> </h4>
                </a>
                <p>  <%= product.shortdescription%> </p>
                <p>$<%= product.price%>MXN </p>
                <p class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                <p class="valoracion"> <%= product.ratings%> valoraciones</p>
            </div>
            <%}%>
        <% } %>

            

            

           

    </section>

    <!-- Promociones -->
    <section class="promociones" id="promociones">
        <h3 class="title">Nuestras promociones</h3>
        <p>Manejamos excelentes promociones durante todo el año, además de un excelente servicio al cliente.</p>
        <hr>

        <div class="contenedor">
            <div class="elemento">
                <div class="info-promo">
                    <i class="fas fa-hand-holding-usd icon-promo"></i>
                    <h4>Compra 2x1</h4>
                </div>
                <p>No pierdas esta promoción en los productos marcados.</p>
            </div>

            <div class="elemento">
                <div class="info-promo">
                    <i class="fas fa-truck icon-promo"></i>
                    <h4>Envío gratis</h4>
                </div>
                <p>Disfruta de envios completamente gratuitos en compras de $500.00MX o más.</p>
            </div>

            <div class="elemento">
                <div class="info-promo">
                    <i class="fas fa-thumbs-up icon-promo"></i>
                    <h4>Garantía</h4>
                </div>
                <p>Si un producto no te gusta, coméntanos y te devolvemos tu dinero.</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/footer') %>
    

</body>

</html>